absl-py==1.0.0
abstract==2022.4.20
aiobotocore==2.3.3
aiohttp==3.8.4
aioitertools==0.10.0
aiosignal==1.2.0
allure-behave==2.9.45
allure-pytest==2.13.1
allure-python-commons==2.13.1
altgraph==0.17.2
anyio==3.6.2
appdirs==1.4.4
asgiref==3.5.2
astroid==2.14.2
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
azure-appconfiguration==1.4.0
azure-common==1.1.28
azure-core==1.26.3
azure-mgmt-core==1.3.2
azure-mgmt-storage==21.0.0
azure-storage-blob==12.14.1
base32hex==1.0.2
battery==0.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
behave==1.2.6
botocore==1.24.21
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
clr==1.0.3
colorama==0.4.6
colouration==2020.7.26
ConfigArgParse==1.5.3
coverage==7.2.3
cryptography==35.0.0
customtkinter==5.1.2
cycler==0.11.0
darkdetect==0.8.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
data==0.4
dataclasses==0.6
dataclasses-json==0.5.6
decorator==5.1.0
demjson==1.6
dill==0.3.6
distlib==0.3.5
Django==3.2.9
django-scheduler==0.10.1
djitellopy==2.4.0
dnspython==2.3.0
driver==0.1.0
drone==0.3.0
email-validator==2.0.0.post2
Employee==0.0.4
enum34==1.1.10
et-xmlfile==1.1.0
excel==1.0.0
excelReader==0.0.1
exceptiongroup==1.1.1
execnet==1.9.0
fastapi==0.95.1
filelock==3.8.0
Flask==2.0.2
Flask-BasicAuth==0.2.0
Flask-Compress==1.10.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
fonttools==4.28.5
frozenlist==1.3.0
fsspec==2022.5.0
funcsigs==1.0.2
future==0.18.2
gevent==21.12.0
geventhttpclient==2.0.8
gitdb==4.0.10
GitPython==3.1.30
graphviz==0.20
greenlet==1.1.2
h11==0.14.0
httpcore==0.17.0
httptools==0.5.0
httpx==0.24.0
icalendar==5.0.5
idna==3.4
imageio==2.27.0
iniconfig==2.0.0
iso8601==1.0.2
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
keyboard==0.13.5
kiwisolver==1.3.2
lazy-object-proxy==1.9.0
lazy_loader==0.2
locust==2.13.2
lxml==4.9.2
Mako==1.1.6
markdownify==0.11.6
MarkupSafe==2.1.2
marshmallow==3.14.1
marshmallow-enum==1.5.1
matplotlib==3.5.1
mccabe==0.7.0
mediapipe==0.8.9.1
msgpack==1.0.4
msrest==0.7.1
multi-key-dict==2.0.3
multidict==6.0.2
MyApplication==0.1.0
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.29
namedlist==1.8
networkx==3.1
numpy==1.25.0
oauthlib==3.2.2
openai==0.27.2
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.62
openpy==0.0.2
openpyxl==3.1.2
orjson==3.8.10
outcome==1.2.0
packaging==23.1
panda==0.3.1
pandas==1.3.4
pandas-stubs==1.5.3.230203
paramiko==2.11.0
parse==1.19.0
parse-type==0.6.0
path==16.4.0
pbr==5.10.0
pefile==2021.9.3
Pillow==9.5.0
platformdirs==2.5.2
plotly==5.14.1
pluggy==1.0.0
protobuf==4.21.1
psutil==5.9.4
py==1.11.0
pyChatGPT==0.4.3.3
pycparser==2.21
pydantic==1.10.7
pygame==2.1.2
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
pylint==2.16.1
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
PySocks==1.7.1
pytest==7.3.2
pytest-cov==4.0.0
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-metadata==2.0.1
pytest-xdist==3.2.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-jenkins==1.7.0
python-multipart==0.0.6
pytz==2021.3
PyWavelets==1.4.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==25.0.0
Question==0.1
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==2.0.0
roundrobin==0.0.4
row==0.1.0.dev3
s3fs==2022.5.0
schedule==1.2.0
scikit-image==0.20.0
scipy==1.10.1
scp==0.14.4
selenium==4.10.0
self==2020.12.3
six==1.16.0
smmap==5.0.0
smtplibaio==2.1.2.post1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.2.13
sqlparse==0.4.2
starlette==0.26.1
structlog==22.3.0
tenacity==8.0.1
tifffile==2023.4.12
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.3
types-pytz==2022.7.1.0
typing-inspect==0.7.1
typing_extensions==4.5.0
ujson==5.7.0
undetected-chromedriver==3.4.6
urllib3==2.0.3
username==2.1.0
uvicorn==0.21.1
virtualenv==20.16.3
watchfiles==0.19.0
webdriver-manager==3.8.6
webdrivermanager==0.10.0
websockets==11.0.2
Werkzeug==2.0.2
windows-curses==2.3.0
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.0
yarl==1.7.2
zope.event==4.6
zope.interface==5.5.2
